{% extends "base.html" %}

{% block content %}

<script>
    function toggleContent(id) {
        const disc_selector = document.getElementById(id);
        const disc_tracks = document.getElementById(id+"tracks");
        const button = document.getElementById(id+"button");

        button.classList.toggle('is-active')
        button.classList.toggle('is-focused')
        disc_tracks.style.display = disc_selector.checked ? "block" : "none";

        $(disc_tracks).find('input[type=checkbox]').each(function(i, track) {
            track.checked = disc_selector.checked;
        });
    }
</script>

<div class="columns is-centered">
    <div class="column is-10">
        <section class="section">
            <h1 class="title has-text-left" >{{ form.title.data }}</h1>
            <h2 class="subtitle has-text-left">{{ form.artists_sort.data }} ({{form.year.data}})</h2>
        </section>
        <div class="columns is-variable">
            <div class="column is-one-third">
                <div class="tile is-vertical box">
                    <div>
                        <figure>
                            <img src="{{ form.cover_image.data }}" />
                        </figure>
                    </div>
                </div>

                <div class="tile is-vertical box">
                    <div class="content">
                        {{ moment().format('MMM Do, YYYY') }} @ <b>{{ moment().format('h:mm a') }}</b>
                    </div>
                    <form method="post">
                    {{ form.csrf_token }}
                    <div class="field has-addons">
                        <p class="control">
                            <a class="button is-static is-small has-background-white has-text-dark">Playback</a>
                        </p>
                        <p class="control">
                            <span class="select is-small">
                                {{ form.t0(class="select is-small") }}
                            </span>
                        </p>
                        <p class="control is-expanded">
                            <span class="select is-fullwidth is-small">
                                {{ form.offset(class="select is-small") }}
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control is-expanded">
                            {% if form.musicbrainz_url.data %}
                            <button class="button is-link is-fullwidth" type="submit">SCROBBYL</button>
                            {% else %}
                            <button class="button is-link is-fullwidth" type="submit" disabled>SCROBBYL</button>
                            {% endif %}
                        </p>
                    </div>

                </div>
            </div>
            <div class="column is-one-half">
                <div class="tile is-vertical box">
                    <nav class="level">
                        <div class="buttons">
                            {% for disc in form.discs %}
                            {% set disc_id = disc.form.id.data %}
                            <input type="checkbox" class="btn-check" id="{{ disc_id }}" checked autocomplete="off" onclick="toggleContent('{{ disc_id }}');">
                            <label class="button is-focused is-active" for="{{ disc_id }}" id="{{ disc_id }}button">{{ disc_id }}</label>
                            {% endfor %}
                        </div>
                    </nav>
                    {% for disc in form.discs %}
                    {% set discloop = loop %}
                    {% set disc_data = disc.form.data %}
                    {% set format_data = disc.format.form.data %}
                        <div id="{{ disc_data['id'] }}tracks" class="content is-small">
                            <table class="table is-striped">
                                <thead>
                                    <tr>
                                        <th colspan="2">{{ format_data['name'] }}</th>
                                        <td colspan="3">{{ format_data['description_string'] }}</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for track in disc.tracks %}
                                    {% set trackloop = loop %}
                                    {% set track_data = track.form.data %}
                                    <tr>
                                        <th>
                                            {{ track.scrobbyl() }}
                                        </th>
                                        <th>{{ track_data['position'] }}</th>
                                        <td>{{ track_data['title'] }}</td>
                                        <td>{{ track_data['duration'] }}</td>
                                        <td>
                                            {% if track_data['musicbrainz_url'] %}
                                                <a data-tooltip="{{ track_data['musicbrainz_description'] }}" href="{{ track_data['musicbrainz_url'] }}">
                                                    <img src="{{ url_for('main_bp.static', filename='images/musicbrainz.ico') }}" style="width:auto;height:10px;"/>
                                                </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endfor %}
                    </form>
                </div>
            </div>
            <div class="column is-one-fifth">
                <div class="tile is-vertical box">
                    <div class="level-item">
                        <a href="{{ form.musicbrainz_url.data }}">
                            <img src="{{ url_for('main_bp.static', filename='images/musicbrainz_logo.png') }}" style="width:auto;height:25px;" alt="musicbrainz"/>
                        </a>
                    </div>
                    <div class="level-item">
                        <a href="{{ form.discogs_url.data }}">
                            <img src="{{ url_for('main_bp.static', filename='images/discogs_logo_2.png') }}" style="width:auto;height:25px;" alt="discogs"/>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}