{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Login</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/login">
            {{ form.csrf_token }}
            <div class="field">
                <div class="control">
                    {{ form.email(class="input is-medium", placeholder="Email", autofocus="") }}
                </div>
            </div>

            <div class="field">
                <div class="control">
                    {{ form.password(class="input is-medium", placeholder="Password", autofocus="") }}
                </div>
            </div>
            <div class="field">
                {{ form.remember(class="checkbox") }} {{ form.remember.label }} 
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Login</button>
        </form>
    </div>
</div>
{% endblock %}