{% extends "base.html" %}

{% block content %}

<script>
    function toggleContent(id) {
        const checkbox = document.getElementById(id);
        const textarea = document.getElementById(id+"div");

        // var e = document.getElementById(id);
        
        textarea.style.visibility = checkbox.checked ? "visible" : "hidden";

        // if (e.style.visibility == "hidden") {
        //     e.style.visibility = "visible";
        // } else {
        //     e.style.visibility = "hidden";
        // }
    }
    
    function toggle(button) {
        if (button.value == "OFF") {
            button.value = "ON";
        } else {
            button.value = "OFF";
        }
    }

</script>

<div class="columns is-centered">
    <div class="column is-two-thirds ">
        <section class="section">
            <h1 class="title has-text-left" >{{ item['title'] }}</h1>
            <h2 class="subtitle has-text-left">{{ item['artists_sort'] }}</h2>
        </section>
        <div class="tile is-ancestor">
            <div class="tile is-4 is-vertical is-parent">
                <div class="tile is-child box">
                    <img src="{{ item['cover_image'] }}" />
                </div>
                <div class="tile is-child box">
                    <figure class="image is-3by1">
                        <a href="https://www.discogs.com/release/{{ item['discogs_id']}}"><img src="{{ url_for('main_bp.static', filename='images/discogs_logo.svg') }}" alt="discogs"/></a>
                    </figure>
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child box">
                    <input type="checkbox" class="btn-check" id="disc1" checked autocomplete="off" onclick="toggleContent('disc1');">
                    <label class="btn btn-outline-secondary" for="disc1">Disc1</label><br>
                    <!-- <div class="buttons">
                        <button class="button is-primary is-outlined" onclick="toggleContent('disc1');">
                            <span class="icon"><i class="fa-solid fa-record-vinyl"></i></span>
                            <span>Disc1</span>
                          </button>
                    </div> -->
                    <div id="disc1div" class="content has-text-left">
                    {% for track in item['tracks'] %}
                    <p>{{track['position']}} - {{track['title']}} - {{track['duration']}}</p>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}