{% extends "base.html" %}

{% block content %}

<script>
    function toggleContent(id) {
        const disc_selector = document.getElementById(id);
        const disc_tracks = document.getElementById(id+"tracks");
        const button = document.getElementById(id+"button");

        button.classList.toggle('is-active')
        button.classList.toggle('is-focused')
        disc_tracks.style.display = disc_selector.checked ? "block" : "none";

        $(disc_tracks).find('input[type=checkbox]').each(function(i, track) {
            track.checked = disc_selector.checked;
        });
    }
</script>

<div class="columns is-centered">
    <div class="column is-10">
        <section class="section">
            <h1 class="title has-text-left" >{{ item.title }}</h1>
            <h2 class="subtitle has-text-left">{{ item.artists_sort }} ({{item.year}})</h2>
        </section>
        <div class="columns is-variable">
            <div class="column is-one-third">
                <div class="tile is-vertical box">
                    <div>
                        <figure>
                            <img src="{{ item.cover_image }}" />
                        </figure>
                    </div>
                </div>

                <div class="tile is-vertical box">
                    <div class="content">
                        {{ moment().format('MMM Do, YYYY') }} @ <b>{{ moment().format('h:mm a') }}</b>
                    </div>
                    <form method="post">
                    <div class="field has-addons">
                        <p class="control">
                            <a class="button is-static is-small has-background-white has-text-dark">Playback</a>
                        </p>
                        <p class="control">
                            <span class="select is-small">
                                <select name="time_relative">
                                    <option value="started">started</option>
                                    <option value="stopped">stopped</option>
                                </select>
                            </span>
                        </p>
                        <p class="control is-expanded">
                            <span class="select is-fullwidth is-small">
                                <select name="offset_minutes">
                                    <option value="-30">30 minutes ago</option>
                                    <option value="-15">15 minutes ago</option>
                                    <option value="-10">10 minutes ago</option>
                                    <option value="-5">5 minutes ago</option>
                                    <option selected="selected"value="0">now</option>
                                    <option value="5">in 5 minutes</option>
                                    <option value="10">in 10 minutes</option>
                                    <option value="15">in 15 minutes</option>
                                    <option value="30">in 30 minutes</option>
                                </select>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control is-expanded">
                            <button class="button is-link is-fullwidth" type="submit">SCRYBL</button>
                        </p>
                    </div>

                </div>
            </div>
            <div class="column is-one-half">
                <div class="tile is-vertical box">
                    <nav class="level">
                        <div class="buttons">
                            {% for disc in item['discs'] %}
                            <input type="checkbox" class="btn-check" id="{{ disc.id }}" checked autocomplete="off" onclick="toggleContent('{{ disc.id }}');">
                            <label class="button is-focused is-active" for="{{ disc.id }}" id="{{ disc.id }}button">{{ disc.id }}</label>
                            {% endfor %}
                        </div>
                    </nav>
                    {% for disc in item.discs %}
                    {% set discloop = loop %}
                        <div id="{{ disc.id }}tracks" class="content is-small">
                            <table class="table is-striped">
                                <thead>
                                    <tr>
                                        <th colspan="2">{{ disc.format.name }}</th>
                                        <td colspan="3">{{ disc.format.description_string }}</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for track in disc.tracks %}
                                    {% set trackloop = loop %}
                                    <tr>
                                        <th>
                                            <label class="checkbox">
                                                <input type="checkbox" name="{{ [discloop.index0, trackloop.index0]|join('-') }}" checked>
                                            </label>
                                        </th>
                                        <th>{{track.position}}</th>
                                        <td>{{track.title}}</td>
                                        <td>{{track.duration}}</td>
                                        <td>
                                            {% if track.musicbrainz_url %}
                                                <a data-tooltip="{{ track.musicbrainz_description }}" href="{{ track.musicbrainz_url }}">
                                                    <img src="{{ url_for('main_bp.static', filename='images/musicbrainz.ico') }}" style="width:auto;height:10px;"/>
                                                </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endfor %}
                    </form>
                </div>
            </div>
            <div class="column is-one-fifth">
                <div class="tile is-vertical box">
                    <div class="level-item">
                        <a href="{{ item.musicbrainz_url }}">
                            <img src="{{ url_for('main_bp.static', filename='images/musicbrainz_logo.png') }}" style="width:auto;height:25px;" alt="musicbrainz"/>
                        </a>
                    </div>
                    <div class="level-item">
                        <a href="{{ item.discogs_url }}">
                            <img src="{{ url_for('main_bp.static', filename='images/discogs_logo_2.png') }}" style="width:auto;height:25px;" alt="discogs"/>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}